.card {
    max-width: 413px;
    position: relative;
}


.card__image {
    width: 100%;
    height: 413px;
    
    border-radius: 8px;
    object-fit: cover;
    display: block;

    cursor: pointer;
}

.card__image:hover {
    border-style: solid;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    color: #212121;
}

.card__title {
    margin: 0;
    color: #212121;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 353px;
}

.card__delete-button {
    background-image: url(../images/delete.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 10px;
    left: 371px;
}

.card__delete-button:hover {
    background-image: url(../images/delete-hover.svg);
    cursor: pointer;
}



.card__like-button {
    background-image: url(../images/heart.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 40%;
}

.card__like-button_active {
    background-image: url(../images/heart-liked.svg);
    opacity: 100%;
}

.card__like-button_active:hover {
    background-image: url(../images/heart-liked-hover.svg);
    opacity: 40%;
    cursor: pointer;
}

.card__like-button:hover {
    opacity: 100%;
    cursor: pointer;
}

@media screen and (max-width: 627px) {
    .card__delete-button{
        top: 10px;
        left: 246px;
    }

    .card__image {
        height: 288px;
    }
    .card__title {
        max-width: 250px;
        font-size: 16px;
    }

    .card__like-button {
        width: 20px;
        height: 18px;
    }
}   